select{
    width: 120px;
}
input{
    width: 140px;
}
h1,h2,h3,h4{
margin:25px;
text-align:center;
background-color:#fff; 
color:#003366;
}
.save_err{
    margin:25px;
    text-align:center;
    background-color:#fff;
    color:red;
}
.save_ok{
    margin:25px;
    text-align:center;
    background-color:#fff;
    color:green;
}

.form{
    
    padding:5px 5px;
    background-color:#fff;    
    border-radius:5px;
    border:2px solid green;
    margin: 2em;

}
p{
text-align:center;
font-size: 12pt;
}
#content {
    width: 99%;
   min-height:  880px;
}

#footer {     
    width: 99%; 
    color: green;  
    text-align: center;  
    margin: 0;  
    position: absolute;
}  