
.td1{
    border: solid 0px #fff;
}
.search{
    background-image: url("search.png");
    background-repeat: no-repeat;
}
td{
    border: solid 1px #a0c6e5; height: 20px;               
}
th{
    border: solid 1px #a0c6e5; height: 20px;   background-color: green; color: #fff            
}
.tableClass{
    width: 850px; border-collapse: collapse;
}