
.td1{
    border: none; text-align: right;
}

td{
    border: solid 1px #a0c6e5; height: 20px;              
}
th{
    border: solid 1px #a0c6e5; height: 20px;   background-color: green; color: #fff            
}
.tableClass{
    width: 870px; border-collapse: collapse;
}
.view{
    font:italic bold 13px arial,sans-serif;
    align-content: center;
    color: green;
}