<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>self-service</display-name>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.selfservice.controller.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.selfservice.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAsTemplate</servlet-name>
        <servlet-class>com.selfservice.dboperations.SaveAsTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.selfservice.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>com.selfservice.dboperations.SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>com.selfservice.dboperations.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>com.selfservice.controller.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemplateListServlet</servlet-name>
        <servlet-class>com.selfservice.controller.TemplateListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UseForRequestServlet</servlet-name>
        <servlet-class>com.selfservice.controller.UseForRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>com.selfservice.controller.UserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAsTemplate</servlet-name>
        <url-pattern>/SaveAsTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemplateListServlet</servlet-name>
        <url-pattern>/TemplateListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UseForRequestServlet</servlet-name>
        <url-pattern>/UseForRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
